.body{
	position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.navbar {
	/*border: 2px solid;*/
	border-color: #FFE83C;
	color: #FFE83C;
}

#midnight {
	color: #31237D;
}

#bg1 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.intro {
	margin-top: 0;
	color: #31237D; 
	font-weight: bold;
}

.alignride {
	text-align: center;
}

.cbg {
	background-color: #31237d;
	color: #FFE83C;
}

.cbg2 {
	padding: 0px;
	margin: 15px;
}


.cbg3 {
	border-left: solid 2px #FFE83C;
	padding-left: 30px;
}



#lbtnl {
	border-radius: 7px;
}

#traffic-b {
	text-align: center;
	background-color: #31237D;
	color: #FFE83C;
}

#transit-b {
	text-align: center;
	background-color: #31237D;
	color: #FFE83C;
}

#bike-b {
	text-align: center;
	background-color: #31237D;
	color: #FFE83C;
}

#canvas1 {
	opacity: 1;
}

.fc1 {
	background-color: #31237D;
	text-align: center;
	color: #FFE83C;
	border-color: #FFE83C;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: #FFE83C;
  background-color: #31237D;
  border-color: #FFE83C;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  text-align: center;
}

@media (max-width: 768px) {
	.cbg2 {
		border-left: solid 2px #FFE83C;
		border-right: solid 2px #FFE83C;
		text-align: center;
		color: #FFE83C;
	}

	.cbg3 {
		padding: 0;
	}
}