.navbar {
	/*border: 2px solid;*/
	border-color: #FFE83C;
	color: #FFE83C;
}

#midnight {
	color: #31237D;
}

#bg1 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.cbg {
	background-color: #31237d;
	color: #FFE83C;
}

.cbg2 {
	padding: 0px;
	margin: 15px;
}


.cbg3 {
	border-left: solid 2px #FFE83C;
	padding-left: 30px;
}

#traffic-b {
	background-color: #31237D;
	color: #FFE83C;
}

#transit-b {
	background-color: #31237D;
	color: #FFE83C;
}

#bike-b {
	background-color: #31237D;
	color: #FFE83C;
}

#canvas1 {
	opacity: 1;
}